* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

:root {
    --space-sm: 0.375rem;
    --space-lg: 0.5rem;
    --size-font: 14px;
    --size-icon: 1.375rem;

    --bg-light: hsl(220 20% 25%);
    --bg: hsl(220 20% 20%);
    --bg-dark: hsl(220 20% 15%);
    --bg-ultra-dark: hsl(220 20% 14%);
    --text: hsl(220 20% 95%);
    --text-muted: hsl(220 20% 70%);
    --border: hsl(220 20% 20%);

    --accent: hsl(210 100% 75%);
    --accent-bg: hsla(210 100% 75% / 0.1);
}

html {
    font-size: var(--size-font);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    overflow: hidden;
    background-color: var(--bg-ultra-dark);
    color: var(--text-muted);
}
body.minimalist {
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    font-size: 1rem;
    font-weight: normal;
}
h1 > span {
    font-size: 0.875rem;
    padding: var(--space-sm);
    border-radius: var(--space-sm);
    border: 1px solid var(--border);
    background-color: var(--bg-ultra-dark);
}

li,
ul {
    list-style: none;
}

iframe {
    flex: 1;
    outline: 0;
    border: 0;
}

svg {
    width: var(--size-icon);
    height: var(--size-icon);
    fill: currentColor;
}

ul.tabs {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: var(--space-sm);
    border-bottom: 1px solid var(--border);
}
ul.tabs > li {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-sm) var(--space-lg);
    border-radius: var(--space-sm);
    cursor: pointer;
}
ul.tabs > li.active {
    background-color: var(--bg);
    color: var(--text);
    pointer-events: none;
}
ul.tabs > li.html.active > svg {
    fill: hsl(5, 100%, 75%);
}
ul.tabs > li.css.active > svg {
    fill: hsl(200, 100%, 75%);
}
ul.tabs > li.js.active > svg {
    fill: hsl(35, 100%, 75%);
}
ul.tabs > li:hover {
    color: var(--text);
}

ul.tabs > .button-group {
    display: none;
}
ul.tabs:hover > .button-group {
    display: flex;
}

ul.tabs > li.active#files-tab-button ~ #console-actions {
    display: none;
}
ul.tabs > li.active#console-tab-button ~ #files-actions {
    display: none;
}

.button-group {
    align-items: center;
    gap: 2px;
}
.button-group.right {
    margin-left: auto;
}
.button-group > .divider {
    margin: 0 var(--space-sm);
    width: 2px;
    height: 1rem;
    background-color: var(--bg);
}
.button-group > .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
    padding: var(--space-sm);
    border-radius: var(--space-sm);
    cursor: pointer;
}
.button-group > .button:has(> span) {
    padding: var(--space-sm) var(--space-lg);
}
.button-group > .button:hover {
    background-color: var(--bg);
    color: var(--text);
}
.button-group > .button:active {
    background-color: var(--bg-light);
    color: var(--text);
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    border-bottom: 1px solid var(--border);
    background-color: var(--bg-dark);
    user-select: none;
}
body.minimalist > .app {
    max-width: 1280px;
    max-height: 720px;
    border: 1px solid var(--border);
    border-radius: var(--space-sm);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.topbar {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-lg);
    border-bottom: 1px solid var(--border);
}
.topbar > svg {
    padding: 0.15rem;
    box-sizing: content-box;
    color: var(--accent);
}
.topbar > .button-group {
    display: flex;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.topbar:hover > .button-group {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
}

#title-span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: var(--space-sm) var(--space-lg);
    border-radius: var(--space-sm);
    background-color: var(--accent-bg);
    color: var(--accent);
}

.body {
    display: flex;
    height: 100%;
    min-width: 0;
    min-height: 0;
}
.body > .leftbar,
.body > .rightbar {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.body > .leftbar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border);
    background-color: var(--bg-ultra-dark);
    overflow: hidden;
}

.body > .rightbar {
    min-width: 0;
    min-height: 0;
}

.editor {
    flex: 5;
    min-width: 0;
    min-height: 0;
    border-bottom: 1px solid var(--border);
}
.editor.hide {
    display: none;
}

.console {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding: var(--space-sm);
    overflow-y: auto;
}
.console.hide {
    display: none;
}
.console > .log {
    font-family: monospace;
    padding: var(--space-sm);
    border-radius: var(--space-sm);
    border: 1px solid var(--border);
    background-color: var(--bg-ultra-dark);
}
.console > .error {
    padding: var(--space-sm);
    border-radius: var(--space-sm);
    background-color: hsla(5 100% 75% / 0.1);
    color: hsl(5 100% 75%);
}

.colorpicker-color-decoration {
    border: 1px solid var(--border) !important;
    border-radius: 9999px !important;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    padding: var(--space-lg);
    opacity: 0.5;
}
body.minimalist > footer {
    padding-top: 1.5rem;
}
footer:hover {
    opacity: 0.75;
}
footer a {
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}
footer a:hover {
    color: var(--text);
}
